@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root{
    --green: #bac34e;
    --black: #222;
    --white: #fff;
    --light-color: #666;
    --light-bg: #f3f3f3;
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


/* @mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;  
} */

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
    padding: 3rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: var(--green);
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--black);
}

.heading{
    background: url(../image/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
}

.heading h1{
    color: var(--black);
    font-size: 4rem;
}

.heading p{
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--light-color);
}

.heading p a{
    color: var(--black);
    padding-right: .7rem;
}

.heading p a:hover{
    color: var(--green);
}

.title{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: var(--border);
    color: var(--black);
}

.title a{
    margin-left: auto;
    color: var(--light-color);
    font-size: 1.5rem;
}

.title a:hover{
    color: var(--green);
}

.title span{
    color: var(--green);
    padding-left: .5rem;
}

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
    padding: .5rem;
}

.header .navbar a {
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--light-color);
    margin: 0 1rem;
}

.navbar a:hover{
    color: var(--green);
}

.icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--light-color);
}

.icons div:hover{
    color: var(--green);
}

.header .search-form{
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 5.5rem;
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.header .search-form.active{
    top: 115%;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .search-form label{
    font-size: 2.5rem;
    margin-right: 1.7rem;
    cursor: pointer;
    color: var(--light-color);
}

.header .search-form label:hover{
    color: var(--green);
}

#menu-btn{
    display: none;
}

.header .shopping-cart{
    position: absolute;
    top: 115%;
    right: -105%;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.header .shopping-cart .box .fa-times{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--light-color);
    cursor: pointer;
}

.header .shopping-cart .box .fa-times:hover{
    color: var(--green);
}

.header .shopping-cart .box .fa-times img{
    height: 10rem;
}

.header .shopping-cart .box .fa-times .content h3{
    font-size: 1.7rem;
    padding-bottom: .5rem;
    color: var(--black);
}

.header .shopping-cart .box .fa-times .content span{
    font-size: 1.5rem;
    color: var(--light-color);
}

.header .shopping-cart .box .fa-times .content span.multiply{
    margin: 0.5rem;
}

.header .shopping-cart .total{
    color: var(--light-color);
    text-align: center;
    font-size: 2.2rem;
}

.header .shopping-cart .total span{
    color: var(--black);
}

.header .shopping-cart .btn{
    text-align: center;
    width: 100%;
}

.header .login-form{
    position: absolute;
    top: 115%;
    right: -105%;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;
}

.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3{
    color: var(--black);
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: .7rem;
}

.header .login-form .box{
    margin: .7rem 0;
    border: var(--border);
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}

.header .login-form .remember{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: .7rem 0;
}

.header .login-form .remember label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.header .login-form .btn{
    text-align: center;
    width: 100%;
}

.header .login-form p{
    color: var(--light-color);
    padding-top: .7rem;
    font-size: 1.4rem;
}


.header .login-form p a{
    color: var(--green);
}

.header .login-form p a:hover{
    text-decoration: underline;
}

@keyframes fadeLeft{
    0%{
        transform: translateX(-5rem);
        opacity: 0;
    }
}

@keyframes fadeUp{
    0%{
        transform: scale(.5);
        opacity: 0;
    }
}

.home{
    padding-top: 14rem;
    background: url(../image/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .slides-container .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none;
}

.home .slides-container .slide.active{
    display: flex;
}

.home .slides-container .slide .content{
    flex: 1 1 40rem;
    animation: fadeLeft .4s linear .4s backwards;
}

.home .slides-container .slide .content span{
    color: var(--light-color);
    font-size: 2.5rem;
}

.home .slides-container .slide .content h3{
    font-size: 6rem;
    color: var(--black);
    padding: .5rem 0;
}

.home .slides-container .slide .image{
    flex: 1 1 40rem;
    margin: 3rem 0;
}

.home .slides-container .slide .image img{
    width: 100%;
    animation: fadeUp .4s linear;
}

.home #next-slide, #prev-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    background: var(--white);
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
}

.home #next-slide:hover{
    background: var(--green);
    color: var(--white);
}

.home #prev-slide:hover{
    background: var(--green);
    color: var(--white);
}

.home #next-slide{
    right: 2rem;
}

.home #prev-slide{
    left: 2rem;
}

.banner-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}

.banner-container .banner{
    position: relative;
    height: 25rem;
    overflow: hidden;
}

.banner-container .banner:hover img{
    transform: scale(1.2);
}

.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-container .banner .content{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.banner-container .banner .content span{
    color: var(--light-color);
    font-size: 1.5rem;
}

.banner-container .banner .content h3{
    font-size: 2rem;
    padding-top: .5rem;
    color: var(--black);
}

.banner-container .banner .content .btn{
    padding: .8rem 2.5rem;
}






















.footer{
    background: var(--light-bg);
}

.footer .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding-bottom: .5rem;
}

.footer .box-container .box a{
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color: var(--green);
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--green);
}

.footer .box-container .box a i:hover{
    padding-right: 2rem;
}

.footer .box-container .box form input[type="email"]{
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    margin: 1rem 0;
    text-transform: none;
}

.footer .box-container .box .payment{
    width: 100%;
    margin-top: 2rem;
}

.credits{
    text-align: center;
    background: var(--green);
    color: var(--white);
    font-size: 2rem;
}



/* media queries */

@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }

    .home #next-slide,
    .home #prev-slide{
        transform: translateY(0);
        top: 88%;
    }

    .home #prev-slide{
        left: auto;
        right: 8rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width: 100%;
        right: 0;
        border-radius: 0;
    }

    .header .search-form.active{
        top: 99%;
        border-top: var(--border);
        border-bottom: var(--border);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: var(--light-bg);
        font-size: 2rem;
        display: block;
        border-radius: .5rem;
    }
}

@media (max-width:450px){
    
    html{
        font-size: 55%;
    }

    .home .slides-container .slide .content h3{
        font-size: 5rem;
    }
}
